/**
 * Site header
 */

header {
  width: 100%;
  height: 175px;
  overflow: hidden;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: white;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  transition: height 0.3s;
}

header.smaller {
    height: 90px;
}

header h1 {
    line-height: 50px;
    font-size: 40px;
    padding-top: 25px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

header.smaller h1 {
    line-height: 25px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}

header a {
    transition: color 0.3s;
}

header nav a {
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px;
    line-height: 50px;
    font-size: 20px;
    transition: color 0.3s;
}

header.smaller nav a {
      line-height: 25px;
      margin-top: -10px;
      margin-bottom: 10px;
}

header a:link {
    color: black;
}

header a:hover {
    color: #ED7B84;
}

#after-header {
    height: 90px;
    z-index: -1;
}

#landing {
    background-color: #F5DBCB;
    height: 100vh;
    width: 100vw;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
    overflow-x: hidden;
}

#leaf {
    height: 90px;
    position: absolute;
    bottom: 0px;
}

#column1 {
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    right: 52vw;
    padding-top: 30vh;
}

#column2 {
    max-width: -webkit-calc((#{$content-width} - (#{$spacing-unit} * 2)) / 2);
    max-width:         calc((#{$content-width} - (#{$spacing-unit} * 2)) / 2);
    position: absolute;
    left: 50vw;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    padding-top: 30vh;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 4;
        padding-left: $spacing-unit / 4;
    }
}

.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    color: $grey-color;
}

.footer-1 {
    float: left;
}

.footer-2 {
    float: right;
    display: inline-block;
    a {
        color: inherit;
    }
}


/**
 * Page content
 */
.page-content {
    padding-bottom: $spacing-unit 0;
}

.page-heading {
    line-height: 40px;
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: black;
    background-color: #ED7B84;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-transform: uppercase;
    position: relative;
    margin-bottom: $spacing-unit / 2;
}

.post-link {
    display: block;
    font-size: 24px;
    font-family: 'Eczar', serif;
    line-height: 30px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 20px;
        font-family: 'Work Sans', sans-serif;
        text-transform: uppercase;
    }


    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.pagination {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
